@{
    ViewData["Title"] = "Dashboard";
    ViewData["Page"] = "Dashboard";
}
@section css {
    <link href="@Url.Content("~/css/Dashboard.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/Loading.css")" rel="stylesheet" type="text/css" />
}

<script>
    (function () {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("getDashBoard", "Dashboard")',
            success: function (data) {
                $(".total-patient").text(data.patient);
                $(".patient-inmonth").text(data.appointment.numOfPatientsInMonth + " new patient(s)/this month");
                $(".total-appointment").text(data.appointment.numOfAppointments);
                $(".appointment-inmonth").text(data.appointment.numOfAppointmentsInMonth + " new appointment(s)/this month");
                $(".appointment-intoday").text(data.appointment.numOfAppointmentsInToday + " new appointment(s)/today");
                $('.loader').hide();
                $(".grid-wide").show();
            }, error: function () {
                alert("Reload the page and try again");
            }
        })
    })();
</script>
<div class="loader">
    <Loading />
</div>
<div class="grid-wide">
    <div class="row">
        <div class="col" id="column-flex">
            <div class="item-patient">
                <h3>
                    Total patients:
                </h3>
                <div class="item-patient-content">
                    <div class="left-item-patient">
                        <div class="img-item-patient">
                            <img src="~/Image/patienticon.png" alt="" class="icon-patient">
                        </div>
                    </div>
                    <div class="right-item-patient">
                        <span class="total-patient"></span>
                        <p class="patient-inmonth"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" id="column-flex">
            <div class="item-appointment">
                <h3>
                    Total Appointments:
                </h3>
                <div class="item-appointment-content">
                    <div class="left-item-patient">
                        <div class="img-patient">
                            <img src="~/Image/appointmenticon.jpg" alt="" class="icon-patient">
                        </div>
                    </div>
                    <div class="right-item-appointment">
                        <span class="total-appointment"></span>
                        <p class="appointment-inmonth"></p>
                        <p class="appointment-intoday"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

