@{
    ViewData["Title"] = "Dashboard";
    ViewData["Page"] = "Dashboard";
}
@section css {
    <link href="@Url.Content("~/css/Dashboard.css")" rel="stylesheet" type="text/css" />
}
<script>
    (function () {
        $('#loading-div-background').show();
        
        $.ajax({
            type: 'GET',
            url: 'https://localhost:5001/Dashboard/getDashBoard',
            success: function (data) {
                $(".total-patient").text(data.numOfPatients);
                $(".patient-inmonth").text(data.numOfPatientsInMonth + " new paitents/this month");
                $(".total-appointment").text(data.numOfAppointments);
                $(".appointment-inmonth").text(data.numOfAppointmentsInMonth + " new appointments/this month");
                $(".appointment-intoday").text(data.numOfAppointmentsInToday + " new appointments/today");
                $('#loading-div-background').hide();
                $(".grid-wide").show();
            }
        })
    })();
</script>
<div id="loading-div-background" style="position: fixed; top: 50%; left: 60%;">
    <div id="loading-div" class="ui-corner-all">
        <div id="loadingbar"><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i></div>
        <h2 style="color:gray;font-weight:normal;">Please wait....</h2>
    </div>
</div>
<div class="grid-wide">
    <div class="row">
        <div class="col">
            <div class="item-patient">
                <div class="left-item-patient">
                    <h3>
                        Total patients:</h2>
                        <div class="img-patient">
                            <img src="~/Image/patienticon.png" alt="" class="icon-patient">
                        </div>
                </div>
                <div class="right-item-patient">
                    <p class="total-patient"></p>
                    <p class="patient-inmonth"></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="item-appointment">
                <div class="left-item-patient">
                    <h3>
                        Total Appointment:</h2>
                        <div class="img-patient">
                            <img src="~/Image/appointmenticon.jpg" alt="" class="icon-patient">
                        </div>
                </div>
                <div class="right-item-appointment">
                    <p class="total-appointment"></p>
                    <p class="appointment-inmonth"></p>
                    <p class="appointment-intoday"></p>
                </div>
            </div>
        </div>
    </div>
</div>

