<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] | PatientChecking</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>
    <div class="main-container">
        <nav class="sidebar show">
            <div class="img-box">
                <img src="~/Image/logo.png" alt="" />
            </div>
            <ul>
                <li class="active">
                    <a href="#">
                        <i class="fas fa-home" style="margin: 10px"></i>
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="#" class="patient-btn">
                        <i class="fas fa-hospital-user" style="margin: 10px"></i>
                        Patients
                        <span class="fas fa-caret-down first"></span>
                    </a>
                    <ul class="patient-show">
                        <li class="detail">
                            <a href="#">
                                <i class="fas fa-info-circle" style="margin: 10px"></i>
                                Detail Information
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="far fa-calendar-alt" style="margin: 10px"></i>
                        Appointments
                    </a>
                </li>
            </ul>
        </nav>
        <div class="content">
            <div class="header">
                <div class="page-name"><i class="fas fa-bars"></i>Dashboard</div>
                <div><img src="~/Image/avatar.jpg" alt="Avatar" class="admin-avatar" /></div>
                <div>Hi, Administrator</div>
            </div>
            <hr style="margin-top: 0px" />
            <div class="main-body">
                @RenderBody()
            </div>
        </div>
    </div>
    <script>
        $(".patient-btn").click(function () {
            $("nav ul .patient-show").toggleClass("show");
            $("nav ul .first").toggleClass("rotate");
        });
        $("nav ul li").click(function () {
            $(this).addClass("active").siblings().removeClass("active");
            $(".detail").removeClass("active");
        });
        $(".detail").click(function () {
            $(".detail").addClass("active");
            $("nav ul li").siblings().removeClass("active");
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
