.search-container {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}

.search-area {
    width: 21%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 0;
}

.search-area > input {
    padding-left: 30px;
    padding-right: 30px;
}

.search-icon {
    left: 10px;
    position: absolute;
    color: rgba(33,33,33,.25);
    cursor: pointer;
}

.delete-icon {
    position: absolute;
    right: 10px;
    color: rgba(33,33,33,.25);
    cursor: pointer;
}

.search-icon:hover {
    color: #14b1e7;
}

.delete-icon:hover {
    color: #14b1e7;
}

.info-icon {
    color: #14b1e7;
    margin-left: 10px;
}

.sort-area {
    width: 15%;
    margin-left: 10px;
    display: flex;
    align-items: center;
    position: relative;
}

.sort-info {
    width: 35%;
    position: absolute;
    padding-left: 10px;
}

.list-patient-container {
    margin: 10px 20px;
    font-size: 2rem;
    justify-content: center;
    background-color: white;
}

.row {
    border: 1px solid #eff0f2;
    padding: 15px;
}

.patient-item1 {
    display: flex;
}

.patient-name {
    margin-left: 10px;
}

.patient-name > a {
    text-decoration: none;
    color: black;
}

.patient-name > a:hover {
    color: #14b1e7;
}

.patient-item2 {
    display: flex;
    flex-direction: column;
}

.patient-item3 {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}

.patient-item3 > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact-info {
    margin-bottom: 0px;
    align-items: center;
    display: flex;
}

.email-link {
    color: #14b1e7;
    cursor: pointer;
}

.contact-icon {
    width: 30px;
    height: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.pagination-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.total-row {
    height: 38px;
    line-height: 38px;
    margin: 0 10px;
}

#paging-selection {
    width: 7%;
    height: 38px
}

.disabled {
    opacity: 0.4;
}

.patient-img {
    height: 135px;
    width: 135px;
}

#sort-selection {
    line-height: 1.5;
    padding-left: 30%;
    width: 80%;
}

.contact-icon > i {
    font-size: 16px;
}